How to replace and change dataype

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('loan data.xlsx')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP0001,Male,Yes,NaN,Graduate,2792,4597.524145,133.0,360.0,NaN,Urban,Y
1,LP0002,NaN,NaN,3+,NaN,5885,0.000000,184.0,120.0,1.0,Rural,Y
2,LP0003,Male,Yes,1,Graduate,3832,0.000000,NaN,120.0,0.0,Rural,Y
3,LP0004,Female,NaN,2,Not Grad,6119,0.000000,NaN,240.0,NaN,NaN,Y
4,LP0005,Male,NaN,0,Not Grad,6434,1071.799900,NaN,360.0,NaN,NaN,N

In [4]:
df.Dependents

0       NaN
1        3+
2         1
3         2
4         0
       ...
1995      1
1996      0
1997      2
1998    NaN
1999      0
Name: Dependents, Length: 2000, dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            2000 non-null   object
 1   Gender             1308 non-null   object
 2   Married            1327 non-null   object
 3   Dependents         2000 non-null   int64
 4   Education          1328 non-null   object
 5   ApplicantIncome    2000 non-null   int64
 6   CoapplicantIncome  2000 non-null   float64
 7   LoanAmount         961 non-null    float64
 8   Loan_Amount_Term   1625 non-null   float64
 9   Credit_History     1312 non-null   float64
 10  Property_Area      1477 non-null   object
 11  Loan_Status        2000 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 187.6+ KB

In [9]:
df["Dependents"].fillna(df.Dependents.mode()[0], inplace=True)

/var/folders/1b/sb7118x92zdbwm1h5l66vt9w0000gn/T/ipykernel_3202/359457894.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dependents"].fillna(df.Dependents.mode()[0], inplace=True)

In [13]:
df["Dependents"].value_counts()

Dependents
0    824
3    412
1    399
2    365
Name: count, dtype: int64

In [10]:
df.isnull().sum()

Loan_ID                 0
Gender                692
Married               673
Dependents              0
Education             672
ApplicantIncome         0
CoapplicantIncome       0
LoanAmount           1039
Loan_Amount_Term      375
Credit_History        688
Property_Area         523
Loan_Status             0
dtype: int64

In [12]:
df['Dependents'].replace("3+", 3, inplace=True)

In [15]:
df["Dependents"]= df["Dependents"].astype("int64")